<%= simple_form_for TelevisionShow.new do |form| %>
  <%= form.input :title %>
  <%= form.button :submit %>
<% end %>

<ul>
  <% @recommended_items.each do |recommended_item| %>
    <li>
      <%= recommended_item.television_show_title %>
      &mdash; <%= link_to recommended_item.username, recommended_item.user %>
    </li>
  <% end %>
</ul>
